In [1]:
import pandas as pd
def my_function(x, y):
    pass

In [2]:
def my_sq(x):
    return x ** 2

In [3]:
my_sq(2)

4

In [4]:
my_sq(4)

16

In [5]:
assert my_sq(4) == 16

In [6]:
def avg_2(x, y):
    return (x + y) / 2

In [7]:
avg_2(10, 20)

15.0

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})

In [10]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [11]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [12]:
my_sq

In [13]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [14]:
def my_exp(x, e):
    return x ** e

In [15]:
my_exp(2, 10)

1024

In [16]:
df['a'].apply(my_exp, e=4)

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [17]:
def print_me(x):
    print(x)

In [18]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [19]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [20]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [21]:
df.apply(avg_3)

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [ ]:
import numpy as np

In [ ]:
def avg_3_apply(col):
    return np.mean(col)

In [ ]:
df.apply(avg_3_apply)

In [ ]:
df

In [ ]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [ ]:
df.apply(avg_3_apply)

In [ ]:
df.apply(avg_3_apply, axis='columns')

In [ ]:
df['a'].mean()

In [ ]:
df['a'] + df['b']

In [ ]:
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN #np.NAN np.nan
    else:
        return(x + y) / 2

In [ ]:
df

In [ ]:
avg_2_mod(df['a'], df['b'])

In [ ]:
import numpy as np

In [ ]:
avg_2_mod_vec = np.vectorize(avg_2_mod)

In [ ]:
df

In [ ]:
avg_2_mod_vec(df['a'], df['b'])

In [ ]:
@np.vectorize
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN #np.NAN np.nan
    else:
        return(x + y) / 2

In [ ]:
avg_2_mod(df['a'], df['b'])

In [ ]:
import numba

In [ ]:
@numba.vectorize
def avg_2_mod_numba(x, y):
    if (x == 20):
        return np.NaN
    else:
        return(x + y) / 2

In [ ]:
avg_2_mod_numba(df['a'].values, df['b'].values)

In [ ]:
%%timeit
avg_2(df['a'], df['b'])

In [ ]:
%%timeit
avg_2_mod(df['a'], df['b'])

In [ ]:
%%timeit
avg_2_mod_numba(df['a'].values, df['b'].values)