# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('C:/Users/apoor/Desktop/OOP Practicals/Pandas Resources/data/chipotle.csv',delimiter=',')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

6

### Step 7. Print the name of all the columns.

In [6]:
chipo.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [8]:
max_item = chipo.groupby(['item_name'])['quantity'].sum().reset_index().sort_values(['quantity'],ascending=False).head(1)
max_item['item_name']

17    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [9]:
max_item['quantity']

17    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [10]:
chipo.groupby(['choice_description'])['quantity'].sum().reset_index().sort_values(['quantity'],ascending= False).head(1)

   choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [11]:
chipo['quantity'].sum()

4972

#### Step 13.a. Check the item price type

In [12]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [13]:
change_float = lambda item_price: float(item_price[1:])
chipo["item_price"] = chipo["item_price"].apply(change_float)

#### Step 13.c. Check the item price type

In [14]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [15]:
total_revenue = chipo["item_price"]*chipo["quantity"].sum()
total_revenue

0       11883.08
1       16855.08
2       16855.08
3       11883.08
4       84424.56
5       54592.56
6        8402.68
7       58421.00
8       45991.00
9       45991.00
10      22125.40
11      43505.00
12      43505.00
13      55935.00
14      22125.40
15      11883.08
16      42212.28
17      42212.28
18      10838.96
19      43505.00
20      22125.40
21      44698.28
22      16855.08
23      54592.56
24      16855.08
25      11883.08
26      42212.28
27      44698.28
28       5419.48
29      42212.28
          ...
4592    58421.00
4593    58421.00
4594    58421.00
4595    43505.00
4596    22125.40
4597     6215.00
4598     7458.00
4599    43505.00
4600    22125.40
4601     6215.00
4602    45991.00
4603    45991.00
4604    43505.00
4605    22125.40
4606     6215.00
4607    58421.00
4608    55935.00
4609     6215.00
4610    58421.00
4611    55935.00
4612    45991.00
4613    10689.80
4614     7458.00
4615    43505.00
4616    22125.40
4617    58421.00
4618    58421.00
4619    55935.00
4620    43505.00
4621    43505.00
Name: item_price, Length: 4622, dtype: float64

### Step 15. How many orders were made in the period?

In [16]:
num_orders = len(chipo.groupby(["order_id"]))
num_orders

1834

### Step 16. What is the average revenue amount per order?

In [17]:
total_revenue/num_orders

0        6.479324
1        9.190338
2        9.190338
3        6.479324
4       46.033021
5       29.766936
6        4.581614
7       31.854417
8       25.076881
9       25.076881
10      12.064013
11      23.721374
12      23.721374
13      30.498909
14      12.064013
15       6.479324
16      23.016510
17      23.016510
18       5.910011
19      23.721374
20      12.064013
21      24.372017
22       9.190338
23      29.766936
24       9.190338
25       6.479324
26      23.016510
27      24.372017
28       2.955005
29      23.016510
          ...
4592    31.854417
4593    31.854417
4594    31.854417
4595    23.721374
4596    12.064013
4597     3.388768
4598     4.066521
4599    23.721374
4600    12.064013
4601     3.388768
4602    25.076881
4603    25.076881
4604    23.721374
4605    12.064013
4606     3.388768
4607    31.854417
4608    30.498909
4609     3.388768
4610    31.854417
4611    30.498909
4612    25.076881
4613     5.828680
4614     4.066521
4615    23.721374
4616    12.064013
4617    31.854417
4618    31.854417
4619    30.498909
4620    23.721374
4621    23.721374
Name: item_price, Length: 4622, dtype: float64

### Step 17. How many different items are sold?

In [18]:
chipo.groupby(["item_name"])["item_name"].sum().shape[0]

50